@font-face {
    font-family: "Josefin";
    src: url("/static/JosefinSans.ttf")
}
@font-face {
    font-family: "Domine";
    src: url("/static/Domine.ttf")
}
@font-face {
    font-family: "Ubuntu Mono";
    src: url("/static/UbuntuMono.ttf")
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Josefin";
    margin: 0;
    font-size: 1.6em;
    color: #444444;
    background-color: #f8f8f8;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.header {   
    height: 110px;
    width: 100%;
    z-index: 9001;
    top: 0;
    left: 0;
    position: fixed;     
    transition: all 500ms; 
}

.container {
    height: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: white;
}

.slot-l {
    position: absolute;
    left: 15px;
    z-index: 1001;
    display: table;
    top: 0;
    height: inherit;
}

.slot-l h1 {
    display: table-cell;
    vertical-align: middle;
}

.slot-l a{
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
    display: block;
    text-decoration: none; 
}

.slot-r {
    position: absolute;
    z-index: 1001;
    display: table;
    right: 0;
    top: 0;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slot-r ul {
    display: table-cell;
    vertical-align: middle;
}

.slot-r li {
    display: inline-block;
    line-height: 1.3;
    height: 4rem;
    padding: 0;
    position: relative;
}

.slot-r li a {
    display: block;
    padding: 13px 14px 13px;
    line-height: 1;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.slot-r span {
    padding: 12px 13px;
    line-height: 1.3;
    cursor: pointer;
}

.slot-r li:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.slot-r span:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.sub-menu {
    z-index: 9999;
    position: relative;
    display: inline-block;
}

.sub-menu-content {
    z-index: 9999;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    padding-top: 0.8rem;
    background-color: white;
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
}

.sub-menu:hover .sub-menu-content {
    display: block;
}

#sub-menu-content-item, #sub-menu-content-item-signin,
#sub-menu-content-item-upload {
    cursor: pointer;
    color: black;
    font-size: 1rem;   
    font-weight: 600;
}

#sub-menu-content-item:hover, #sub-menu-content-item-signin:hover,
#sub-menu-content-item-upload:hover {
    color: red;
    margin-left: 0.7rem;
    transition: all .3s ease-in-out;
}


.cover {
    z-index: 1;
    height: 815px;
    width: 100%;
    overflow: hidden;
}

.cover img {
    position: fixed;
    object-fit: cover;
}

.cover-item {
    z-index: 800;
    height: 815px;
    position: fixed;
    color:white;
    width: 100%;
    padding-top: 155px;
}

.cover-item-container {
    max-width: 950px;
    margin: auto;
    position: relative;
    z-index: 10;
    min-height: 445px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 815px;
    background: rgba(0, 0, 0, 0.6);
}

.bg {
    z-index: 9000;
    background: #f8f8f8;
    position: relative;
}

.section {
    z-index: 900;
    position: relative;
    top: -99px;
    background: white;
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
    max-width: 1170px;
    margin: 0 auto 10rem;
    margin-bottom: 8rem;
    padding: 16rem 0 1rem;
}

.section-head {
    margin-top: -6rem;
    margin-bottom: 6rem;
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    position: relative;
    padding-bottom: 4rem;
}

.section-title::after, .post::after {
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: rgba(51,51,51,0.2);
}

.section-content {
    max-width: 720px;
    margin: 0 auto 12rem;
}

.posts {
    flex-wrap: wrap;
}

.post {
    position: relative;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
}

.entry-header {
    position: relative;
    z-index: 2;
    margin-bottom: 1.6rem;
}

.entry-title {
    word-wrap: break-word;
    font-size: 4rem;
}

.entry-title a {
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.entry-title a:hover {
    color: #c62641;
}

.entry-meta {
    margin-top: .8rem;
    font-family: 'Domine', serif;
}

.meta-item, .meta-item-time {
    font-size: 1.3rem;
    margin-right: 15px;
    display: inline-table;
    color:#888888;
    text-transform: none;
}

.meta-item a {
    font-size: 1.3rem;
    color:#888888;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom .1s ease-in-out;
    transition: border-bottom .1s ease-in-out;
}

.meta-item a:hover {
    color:#333333;
    text-decoration: none;   
    border-bottom: 1px solid;
}

.meta-item::after {
    content: "/";
    right: -7px;
    position: relative;
}

.entry-meta-time:after {
    content: "";
}

.entry-content {
    font-family: 'Domine', serif;
    margin-top: 3.6rem;
    margin-bottom: 0;
    line-height: 1.88;
    word-wrap: break-word;
}

.entry-content img {
    max-width: 722px;
}

.entry-footer {
    margin-top: 3rem;
    position: relative;
    z-index: 2;
}

.button {
    height: 40px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    min-width: 160px;
    font-size: 1.3rem;
    border: 1px solid;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #ffffff;
    background: #c62641;
    border: 1px solid #c62641;
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.pagination {
    text-align: center;
    position: relative;
    padding-bottom: 0;
    font-weight: 600;
    width: 100%;
    margin-top: 9rem;
}

.footer {
    background: #f8f8f8;
    color: #aaaaaa;
    padding: 0;
    display: block;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
}

.footer-container {
    max-width: 1270px;
    flex-wrap: wrap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.footer p {
    font-size: 1.6rem;
}

.footer a {
    font-weight: 600;
    color: #888888;
    text-decoration: none;   
    border-bottom: 1px solid;
}

.sidebar {
    background-color: white;
    width: 415px;
    height: 100%;
    position: fixed;
    padding: 160px 0 0;
    top: 0;
    right: 0px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
    -webkit-transform: translate3D(437px,0,0);
    -ms-transform: translate3D(437px,0,0);
    transform: translate3D(437px,0,0);
    transition: right 300ms ease; 
}

.overlay {
    width: 100%;
    height: calc(160%);
    position: fixed;
    top:0;
    left: 0;
    z-index: 9998;
    background: rgba(0,0,0,0.6);
    display: none;
    cursor: pointer;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    overflow: hidden;
}

.sidebar-header {
    background: #c62641;
    position: fixed;
    width: 100%;
    left: 0;
    height: 110px;
    top: 0;
    padding: 0;
}

.sidebar-header-wrapper {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.sidebar-header-wrapper h4 {
    color: white;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.sidebar-header-wrapper span {
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: all .2s ease-in-out;
    position: relative;
    right: 0px;
}

.sidebar-content {
    max-width: 300px;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
}

.sidebar-content h5{
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #333333;
}

.sidebar-content p {
    margin-top: 0;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.sidebar-content a {
    margin-top: 0;
    margin-right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color:#333333;
}

.pop-box {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 320px;
    width: 640px;
    margin: -180px 0 0 -330px;
    border-radius: 5px;
    border: solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px #666;
}

.pop-box-header {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.pop-box-dform {
    padding: 80px 60px 40px;
}

.pop-box-form {
    margin: -50px -20px -50px 60px;
    padding: 0;
}

.pop-box-form ul {
    list-style: none;
}

.pop-box-form li {
    padding-left: 80px;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.pop-box-form li strong {
    float: left;
    margin-left: -80px;
    width: 80px;
    text-align: right;
    line-height: 32px;
}

#editPost-strong {
    text-align: right;
    line-height: 32px;
}

#title {
    width: 420px; 
    margin-bottom: 1rem
}

@media only screen and  (max-width:1366px) {
	.cover-item {
		min-height: 100vh
	}

	.cover, .wrapper {
		height: -webkit-calc(113.9vh);
		height: calc(113.9vh)
	}

	.cover-letter {
		font-size: 50rem
	}

}

@media only screen and  (max-width:1260px) {

	.header .container {
		max-width: 93%
	}

	.slot-l {
		left: 0
	}

	.slot-r {
		right: -15px
	}

	.single-sticky {
		padding: 0 20px
	}
}

@media only screen and  (max-width:1100px) {
	.cover-item-container {
		max-width: 850px
	}
}

@media only screen and  (max-width:1024px) {
	.post {
		margin-bottom: 7rem;
		padding-bottom: 8rem
	}

	.section-head {
		margin-bottom: 6rem
	}

	.section {
		padding: 10rem 14% 11rem;
		margin-bottom: 8rem
	}

	.cover-item-container {
		max-width: 750px
	}

	.cover .entry-title,.cover h1 {
		font-size: 5.4rem!important
	}

	.footer .widget {
		font-size: 1.2rem!important
	}
}

@media only screen and  (max-width:1000px) {
	.cover .entry-title,.cover h1 {
		font-size: 4.8rem!important
	}

	.cover-item-container {
		max-width: 650px
	}

	.entry-footer .button {
		min-width: 145px
	}
}

@media only screen and  (max-width:800px) {
	.cover .entry-title,.cover h1 {
		font-size: 4.8rem!important
	}

	.cover-item-container {
		max-width: 610px
	}

	.cover-letter {
		font-size: 60rem
	}

	.header .container {
		max-width: 90%
	}

	.entry-meta {
		line-height: 1.5
	}

	.h1,h1 {
		font-size: 4rem!important
	}

	.h2,h2 {
		font-size: 3.6rem!important
	}

	.h3,h3 {
		font-size: 3.2rem!important
	}

	.h4,h4 {
		font-size: 2.8rem!important
	}

	.h5,.layout-c .h4,h5 {
		font-size: 2.4rem!important
	}

	.h6,h6 {
		font-size: 2rem!important
	}

	.h6.section-title {
		font-size: 1.5rem!important;
		line-height: 1.6
	}

	.pagination {
		height: auto;
		min-height: 40px;
		padding-top: 7rem;
		margin-top: 7rem
	}

	.post .entry-footer {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}

	.post .entry-footer .button {
		min-width: auto;
		width: auto;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1
	}

	.entry-footer .button:last-child {
		margin-right: 0
	}
}

@media only screen and  (max-width:680px) {
    #sr-menu {
		display: none
	}

	.header .mobile-visible {
		display: block;
		padding-top: 18px
	}

	.actions-list .action-button.mobile-visible {
		display: inline-block
	}

	.flat .section,.section {
		padding: 7rem 10%;
		margin-bottom: 4rem;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-bottom: 1px solid rgba(0,0,0,.1)
	}

	.section-content {
		margin: 0 auto 5rem
	}

	.section-head {
		margin-bottom: 4rem
	}

	.posts .post {
		margin-bottom: 3rem;
		padding-bottom: 4rem
	}

	p {
		margin: 0 0 2rem
	}

	.entry-content .h1,.entry-content .h2,.entry-content .h3,.entry-content .h4,.entry-content .h5,.entry-content .h6,.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6,pre {
		margin-bottom: 2rem
	}

	.footer {
		padding: 0
	}

	.cover-item-container {
		max-width: 80%
	}

	.footer .container {
		padding: 0 20%
	}

	.h1,.cover .entry-title,.cover h1,h1 {
		font-size: 4.2rem!important
	}

	.h2,h2 {
		font-size: 3.6rem!important
	}

	.h3,h3 {
		font-size: 3rem!important
	}

	.h4,.layout-c .h4,h4 {
		font-size: 2.4rem!important
	}

	.h5,h5 {
		font-size: 2rem!important
	}

	.h6,h6 {
		font-size: 1.6rem!important
	}

	.bg .section:first-child {
		top: 0!important
	}

	body .bg:first-child {
		margin-top: 0
	}

	.cover-item-container {
		height: auto
	}
}

@media only screen and  (max-width:620px) {

	.section .section-head:first-child {
		margin-top: 0
	}

	.post .entry-footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.post .entry-footer .button {
		margin-right: 0;
		margin-bottom: 1.5rem
	}

	.header .nav>li {
		width: 4rem
	}
}

@media only screen and  (max-width:480px) {

	body {
		font-size: 1.5em
	}

	/* .header {
		max-height: 70px
	} */

	.entry-footer .button {
		width: 100%;
		min-width: auto;
		margin-right: 0
	}

	.cover .button:first-child {
		margin-bottom: 1rem;
		margin-right: 0
	}

	.sidebar-header {
		height: 75px;
		padding: 0 40px
	}

	.sidebar-header-wrapper span {
		right: 3rem;
	}

	.cover .button {
		margin-right: 0;
		margin-left: 0;
		max-width: 200px
	}

	.cover+.section {
		margin-top: 0
	}

	.header .container {
		max-width: 83%
	}

	.cover {
		height: 100vh
	}

	.section-title {
		padding-bottom: 3rem
	}

	.section-head {
		margin-bottom: 3rem;
		margin-top: 1rem!important
	}

	.footer .container {
		padding: 0 5%
	}

	.h1,.cover .entry-title,.cover h1,.layout-b .entry-title,h1 {
		font-size: 2.7rem!important
	}

	.h2,h2 {
		font-size: 2.5rem!important
	}

	.h3,h3 {
		font-size: 2.3rem!important
	}

	.h4,.layout-c .h4,h4 {
		font-size: 2rem!important
	}

	.h5,h5 {
		font-size: 1.8rem!important
	}

	.h6,h6 {
		font-size: 1.6rem!important
	}

	.pagination {
		padding-top: 4rem;
		margin-top: 4rem
	}

	.entry-header {
		margin-bottom: 1.6rem
	}

	.cover .entry-header {
		margin-bottom: 0
	}

	.cover-item {
		min-height: 100%;
		padding: 1px 0
	}

	.section {
		margin-bottom: 2rem
	}
}

@media only screen and  (max-width:320px) {

	.sidebar-header {
		padding: 0 40px
	}

	.sidebar {
		max-width: 100%;
		padding: 100px 30px 40px
	}

	.meta-item {
		font-size: 1.2rem!important
	}

	.entry-meta {
		line-height: 1.5
	}

	.cover .button {
		max-width: 130px;
		width: 130px
	}

	.cover-item-container {
		max-width: 70%
    }
    
	.cover .entry-title,.cover h1 {
		font-size: 2.4rem!important;
		line-height: 1.4
	}

	body {
		font-size: 1.4rem!important
	}

	p {
		margin: 0 0 2.2rem
	}

	.h1,.layout-b .entry-title,h1 {
		font-size: 2.4rem!important
	}

	.h2,h2 {
		font-size: 2.2rem!important
	}

	.h3,h3 {
		font-size: 2rem!important
	}

	.h4,.layout-c .h4,h4 {
		font-size: 1.8rem!important
	}

	.h5,h5 {
		font-size: 1.6rem!important
	}

	.h6,h6 {
		font-size: 1.4rem!important
	}

	.entry-content .h1,.entry-content .h2,.entry-content .h3,.entry-content .h4,.entry-content .h5,.entry-content .h6,.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6 {
		margin-bottom: 1.6rem
	}

	.section {
		padding: 2.6rem 8% 4rem
	}

	.cover .entry-footer .button {
		width: 80%
	}
}
