{{ define "share/header" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SG-Amyang | {{ .title }}</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/layout.css">
        <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />  
        <script src="/static/jquery-3.1.1.min.js"></script>
        <script src="/static/base.js"></script>
        <script type="text/javascript" src="/static//highlightjs/highlight.pack.js"></script>
        <script type="text/javascript" src="/static/highlightjs/hljs-line-number.js"></script>
        <link rel="stylesheet" href="/static/github-markdown.css">
        <link rel="stylesheet" type="text/css" href="/static/highlightjs/styles/atelier-seaside-light.css">    
        <script>hljs.initHighlightingOnLoad();</script>
        {{ if .editor }} 
            <link rel="stylesheet" href="/static/editor-md/css/editormd.min.css" />
            <script src="/static/editor-md/editormd.min.js"></script>
            <script src="/static/editor-config.js"></script>
        {{ end }}
    </head>
    <body>       
        <div class="header" id="headerbar">
            <div class="container">
                <div class="slot-l">
                    <h1><a href="/">SG-Amyang</a></h1>
                </div>
                <div class="slot-r">
                    <ul>   
                        <li id="sr-menu"><a href="/posts/category/security">security</a></li>
                        <li id="sr-menu"><a href="/posts/category/develop">develop</a></li>
                        <li id="sr-menu"><a href="/posts/category/signal">signal</a></li>
                        <li id="sr-menu"><a href="/posts/category/joy">joy</a></li>
                    
                        <li id="sr-menu" class="sub-menu"><a>admin</a>
                            <div class="sub-menu-content">
                                <a id="sub-menu-content-item-signin">Sign in</a>
                                <a href="/posts/new" id="sub-menu-content-item">New</a>
                                <a id="sub-menu-content-item-upload">Upload</a>
                                {{ if .show }}
                                    <a href="/posts/{{ .post.Title | space2hyphen }}/edit" id="sub-menu-content-item">Edit</a> 
                                {{ end }}
                            </div>
                        </li>
                        
                        <span id="sidebar-open"><i class="fa fa-bars"></i></span>
                    </ul>
                </div>
            </div>
        </div>

        {{ template "share/popbox" }}

        <div class="cover">
            <div class="cover-item">
                <div class="cover-item-container">
                    <header class="entry-header">
                        <h1 class="entry-title" style="font-size: 6.4rem; text-transform: uppercase">
                            {{ if eq .title "Home"}} Amyang's Blog      {{ end }}
                            {{ if .show }}           {{ .title }}       {{ end }}
                            {{ if .editor }}         {{ .title }} Post  {{ end }}
                            {{ if .cat }}            {{ .title }}       {{ end }}
                        </h1>
                        {{ if .show }}
                        <div class="entry-meta">
                            <div class="meta-item" style="color: white">
                                By Amyang
                            </div>
                            <div class="meta-item" style="color: white">
                                In 
                                <a style="color: white" href="/posts/category/{{ .post.Cat }}">{{ .post.Cat }}</a>
                            </div>
                            <div class="meta-item-time" style="color: white">
                                {{ .post.Time }}
                            </div>
                        </div>
                    {{ end }}
                    </header>
                </div>
            </div>
            <img src="/static/cover.jpg">
            <div class="wrapper"></div>
        </div>

        {{ template "share/sidebar" }}

{{ end }}