{{ define "share/sidebar" }}

<div class="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-header-wrapper">
            <h4>Amyang</h4>
            <span id="sidebar-close"><i class="fa fa-remove"></i></span>
        </div>
    </div>
    <div class="sidebar-content">
        <h5>About me</h5>
        <p> <i class="fa fa-child fa-fw"></i>&nbsp;An average student.<br></p>
        <p> <i class="fa fa-university fa-fw"></i>&nbsp;Major in EE but love IS.<br></p>
        <p> <i class="fa fa-code fa-fw"></i>&nbsp;Go, Python...</p>
        <p> <i class="fa fa-cogs fa-fw"></i>&nbsp;<del>Full Stack Developer</del></p>
    </div>
    <div class="sidebar-content">
        <h5>Get in touch</h5>
        <p><a href="https://github.com/AmyangXYZ"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="mailto:amyang.xyz@gmail.com" style="color:#d94a39;"><i class="fa fa-envelope-square fa-2x"></i></a>
            <a href="https://twitter.com/AmyangXYZ" style="color:#48c4d2;"><i class="fa fa-twitter-square fa-2x"></i></a>
        </p>
    </div>
</div>
<div class="overlay"></div>

{{ end }}